{
   "tabWidth": 3,
   "useTab": false,
   "semi": true,

   "overrides": [
      {
         "files": "*.js",
         "options": {
            "singleQuote": true
         }
      },
      {
         "files": "*.html",
         "options": {
            "parser": "html"
         }
      },
      {
         "files": "*.css",
         "options": {
            "parser": "css",
            "tabWidth": 2
         }
      }
   ]
}
