* {
  box-sizing: border-box;
}

.top100px {
  top: 100px;
}

:host {
  --size: 40px;
  --bg: linear-gradient(
    135deg,
    lightgrey 1%,
    #d0d0d0 6%,
    silver 35%,
    lightgrey 90%,
    silver 98%
  );
  --color-top: lightgrey;
  --color-right: #a8a8a8;
  --color-bottom: silver;
  --color-left: gainsboro;
}

.btn {
  color: red;
}
.container {
  /* display: grid; */
  /* grid-auto-flow: column; */
  /* gap: 20px; */
  /* grid-template-columns: 10% 1fr 1fr 1fr 60%; */
  padding: 10px;
}

.hide {
  display: none;
}

.center {
  text-align: center;
  line-height: 120px;
  font-weight: bold;
  font-family: monospace;
  font-size: 30px;
}

.footer {
  font-family: monospace;
  font-size: 1rem;
  color: black;
}

.kb {
  position: relative;
  top: 40px;
  height: 200px;
  width: 200px;
  margin: 20px auto;
  background: var(--bg);
  border-radius: 20px;
  border-top: var(--size) solid var(--color-top);
  border-right: var(--size) solid var(--color-right);
  border-bottom: var(--size) solid var(--color-bottom);
  border-left: var(--size) solid var(--color-left);
  box-shadow: 10px 10px 20px 0px black, 12px 15px 40px 0 #b4b4b4,
    -40px -25px 50px 0 #d8d8d8;
  /*10px 10px 20px 0px black, 12px 15px 40px 0 #b4b4b4,
    -40px -25px 50px 0 lightgrey;
  /*10px 10px 20px 0px #333, 12px 15px 40px 0 blue, 35px 15px 200px 0 seagreen, -40px -25px 50px 0 lightgrey;*/
}
